.home-hot-product-container {
  margin: 20px 100px;
}

.home-hot-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-hot-product-title {
  font-size: 24px;
  font-weight: bold;
}

.home-hot-product-content {
  display: flex;
  margin-top: 25px;
  gap: 25px;
  border-radius: 15px;
  height: 447px;
}

.home-hot-product-item {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

.home-hot-product-item-image {
  background-color: #d7d7d7;
  border-radius: 10px;
  margin-bottom: 15px;
}

.home-hot-product-item-content {
  display: flex;
  flex-direction: column;
}

.home-hot-product-item-title {
  font-size: 24px;
  font-weight: bold;
}

.home-hot-product-item-sold {
  font-size: 14px;
  color: #888888;
  margin-top: 5px;
}

.home-hot-product-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.home-hot-product-buy-price {
  font-size: 24px;
  font-weight: bold;
  color: #ee9322;
}

.home-hot-product-buy-btn {
  background-color: #001c30;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  width: fit-content;
}

.home-hot-product-item-image-container {
  position: relative;
}

.home-hot-product-item-rating {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 25px;
}

.home-hot-product-item-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
}
