.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 25px;
    padding: 16px;
    margin: 25px 100px;
}

.carousel {
    flex: 3;
    background-color: #d3d3d3;
    border-radius: 8px;
    position: relative;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel button.left {
    left: 15px;
}

.carousel button.right {
    right: 15px;
}

.right-card {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.card {
    width: 100%;
    height: 50px;
    background-color: #d3d3d3;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
