.search-container {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 1240px;
  margin: auto;
  padding: 20px;
}

.search-container .search-title {
  flex: none;
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  font-style: italic;
  padding: 8px 14px;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 48px;
}

.search-bar input {
  flex: 1;
  border: 2px solid #e0e0e0;
  border-radius: 24px;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  height: 100%;
}

.search-button {
  flex: none;
  height: 100%;
  padding: 0 25px;
  background-color: #0f172a;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button:hover {
  background-color: #e0e0e0;
}
