.footer-container {
  background-color: #001c30;
  padding: 50px 100px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-content-title {
  max-width: 300px;
}

h1.footer-content-title-text {
  color: #fff;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

p.footer-content-title-text {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-content-title-social {
  display: flex;
  gap: 15px;
}

.footer-content-shop-title {
  color: #ffffff80;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-content-shop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-content-shop-link {
  color: #fff;
  font-weight: lighter;
  font-size: 17px;
  text-decoration: none;
}

.footer-content-shop-link:hover {
  color: #ffffff80;
  transition: color 0.3s ease;
}

.line {
  height: 1px;
  background-color: #fff;
  margin: 50px 0;
}

.footer-content-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-content-copyright-link {
  color: #fff;
  text-decoration: none;
}
